.btn-join {
    background: var(--green-color);
    padding: 15px 20px 15px 20px;
    border-radius: 15px;
}

a {
    text-decoration: none;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}