<section id="JoinClub">
    <div class="info-container">
        <h1 class="title-text">Regístrate ahora y Unete al Club</h1>
        <h2 class="subtitle-text">¡Forma parte del <span class="pink-text-color">club oficial de fans!</span></h2>
        <p>
            ¿Quieres estar siempre al tanto de las últimas novedades, teorías y contenido exclusivo de Rick and Morty? Únete a
            nuestro club y recibe correos semanales directamente en tu bandeja de entrada. 
            ¡No te pierdas ninguna aventura interdimensional!
        </p>
    </div>
    <div class="formulario-container">
        <h1 class="title-form">Regístrate ahora</h1>
        <form action="">
            <label for="">Nombre</label>
            <input type="text">
            <label for="">Correo</label>
            <input type="email">
            <label for="">Personaje Favorito</label>
            <input type="text">
            <button type="submit">Registrarte</button>
        </form>
    </div>
</section>
