<section id="Opinions">
    <div class="title-container">
        <h1 class="title-text">Opiniones</h1>
        <h2 class="subtitle-text">Lo que dicen nuestros <span class="pink-text-color">fans</span></h2>
    </div>
    <div class="cards-container">
        <div class="card">
            <img class="img-card" src="../../../assets/img/rickOpinions.png" alt="">
            <div class="text-card">
                <i><p>“Rick and Morty me hace reír, pensar y soñar al mismo tiempo. Cada episodioes una experiencia única y llena desorpresas."</p></i>
                <p><strong>– Carlos M.</strong></p>
            </div>
        </div>
        <div class="card">
            <img class="img-card" src="../../../assets/img/rickOpinions.png" alt="">
            <div class="text-card">
                <i><p>“"Gracias a esta comunidad, he podido compartir y debatir mis teorías sobre la serie.""</p></i>
                <p><strong>– Valeria C.</strong></p>
            </div>
        </div>
        <div class="card">
            <img class="img-card" src="../../../assets/img/rickOpinions.png" alt="">
            <div class="text-card">
                <i><p>“Definitivamente mi sitio favorito de Rick & Morty, nunca pense que seria una comunidad tan grande y tan fiel a la serie. Estoy fascinado con todo la informacion que me ofrece esta página."</p></i>
                <p><strong>– Sebastian F.</strong></p>
            </div>
        </div>
        <div class="card">
            <img class="img-card" src="../../../assets/img/rickOpinions.png" alt="">
            <div class="text-card">
                <i><p>“Ta muy bien."</p></i>
                <p><strong>– Juan E.</strong></p>
            </div>
        </div>
    </div>
</section>
