<section id="About">
    <div class="title-container">
        <h1 class="title-text">¿Quienes somos?</h1>
        <h2 class="subtitle-text">Conoce nuestra <span class="pink-text-color">historia</span></h2>
    </div>
    <div class="text-container">
        <p>
            Somos la comunidad de fans de Rick and Morty más grande del mundo. Nos une lapasión por una de las series más innovadoras y 
            sorprendentes, en la que el humorirreverente se mezcla con aventuras interdimensionales. Nuestro objetivo es crear unespacio 
            inclusivo y dinámico donde los fans puedan debatir teorías, compartirmomentos épicos, descubrir curiosidades y disfrutar de 
            contenido exclusivo.
        </p>
    </div>
    <div class="img-about-container">
        <img src="../../../assets/img/aboutImg.png" alt="">
    </div>
    <app-button-join/>
</section>
