#Characters {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.icon-card {
    height: 200px;
    border-radius: 50%;
}

.cards-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 320px;
    height: 420px;
    background-color: var(--blue-color);
    border-radius: 25px;
    margin: 0px 20px;
    color: black;
}

.title-card {
    font-family: 'BryndanWrite', Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: normal;
}

.status-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-circle-green {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: greenyellow;
}

.icon-circle-red {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}