<section id="Characters">
    <div class="title-container">
        <h1 class="title-text">Personajes</h1>
        <h2 class="subtitle-text">Conoce a los <span class="pink-text-color">protagonistas</span> de nuestro multiverso</h2>
    </div>
    <div class="cards-container">
        @for (char of dataCharacters; track $index) {
            <div class="card" [ngStyle]="{ 'background-color': getBackgroundColor($index) }">
                <img class="icon-card" [src]="char.image" alt="">
                <h1  class="title-card">{{char.name}}</h1>
                <div class="status-card">
                    <div [class]="char.status === 'Alive' ? 'icon-circle-green': 'icon-circle-red' "></div>
                    <p>{{char.status}} - {{char.species}}</p>
                </div>
                <p><strong>Origen:</strong> {{char.origin.name}}</p>
            </div>
        }  
    </div>
</section>