#Hero {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title-hero {
    text-align: center;
    font-size: 45px;
}

.button-join-container {
    display: flex;
    justify-content: center;
}

.img-hero-container {
    display: flex;
    justify-content: center;
}

.img-hero {
    width: 800px;
}